/*固定のスタイル*/
/*スタート画面*/
.start-screen{
    background-color: rgb(158, 184, 233);
}

.alert-box{
    color:red;
}

#start-button{
    background-color: darkgray;
}

/*試験中の画面*/
#problem-field{
    border: solid 1px #000;
}

#body-and-sectiontimer{
    border-bottom: solid 1px #000;
    background-color: #c5DBF2;
}

#problem-statement-field{
    border-right: dashed 1px #000;
}

.next-button{
    font-size: 20px;
    border: 8px single #0090bb;
}

.body-block{
    width: 6%;
    height: 5px;
}

.margin-block{
    width: 2%;
    height: 5px;
    background-color: white;
}

.small-question-field{
    background-color: lightgreen;
}

.small-question-num{
    background-color: green;
    color:white;
}

.tab-buttons{
    background-color: white;
    border: solid 1px  #000;
}

.selected-tab{
    background-color: #0090bb;
    border:solid 1px #000;
}

#result-field{
    background-color: rgb(199, 214, 243);
}

input[type="text"]{
    font-size: 20px;
}

select{
    font-size: 18px;
}

#top-page{
    display: block;
}

.alert-box{
    position: relative;
    padding: 10px 10px 0px;
}

#start-button{
    width:30%;
    height: 30px;
    margin:10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#problem-field{
    display: none;
}


form#answer-form{
    margin: 0 10%;
}

input.problem-choices{
    width:20px;
    height:20px;
}

th.problem-choice-background{
    width:40px;
    height:25px;
}

/*終了画面*/
#result-field{
    top:100px;
    display: none;
}


/*以下は、レスポンシブデザインのためのスタイル*/
/*タブレット以上の場合*/
@media (min-width:580px)
{
    /*スタート画面*/
    .title{
        text-align: center;
    }

    .start-screen{
        width: 580px;
        margin: 10px auto;
    }

    .name-area{
        padding: 10px 10px 0px;
    }

    .mail-area{
        padding: 10px 10px 0px;
    }

    .test-type-area{
        padding: 10px 10px 0px;
    }

    .policy-agreement{
        padding: 10px 10px 0px;
    }

    .policy-agreement-child
    {
        vertical-align: middle;
    }    

    /*問題表示部分*/
    #problem-field{
        margin:20px;
    }

    .body-and-sectiontimer{
        width:100%;
        height:300px;
        margin: 0px;
    }


    #problem-body{
        width: 55%;
        margin-left: 4%;
        margin-right: 4%;
        height:300px;
        display: inline-block; 
        vertical-align:top; 
    }

    #section-timer{
        width: 30%;
        display: inline-block; 
        vertical-align:top; 
    }

    #problem-statement{
        position: relative;
        width:100%;
        height:400px;
        margin: 0px;
    }

    #problem-statement-field{
        display: inline-block; 
        margin-left: 4%;
        height: 100%;
        width:45%;
        vertical-align:top; 
    }

    #answer-field{
        display: inline-block; 
        position:relative;
        margin-right: 4%;
        width:45%;
        height:100%;
        vertical-align:top; 
    }

    #single-timer{
        position: absolute;
        bottom :5%;
        left :15%;
        width:80%;
    }
    #next-button{
        position: absolute;
        height: 30px;
        width : 150px;
        bottom : 15%;
        right:-10%;
    }

    th.small-question-num{
        width:30px;
    }

    .set-timer{
        position: relative;
        left :10%;
        width:80%;
    }

    .contents{
        top:10%;
    }

    .tabs{
        position:absolute;
        width: 50%;
        bottom:0%;
    }

    .tab-buttons{
        position: relative;
        text-align:center;
        display:inline-block;
        width : 50px;
        vertical-align: top;
    }

    .timer{
        width: 100%;
        height: 100px;
    }



    #result-field{
        width: 580px;
        margin: 10px auto;
    }

    h2#result-greeting{
        margin:10px;
    }

    h3#result-title{
        margin: 10px;
    }

    #result{
        margin:10px;
    }
}
/*スマホ画面ぐらいの大きさの場合*/
